body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

.header {
  background: #dd4c3d;
  color: #fefefe;
  margin: 20px auto 10px;
  max-width: 490px;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
  border-radius: 4px;
}

code {
  font-family: monospace;
}

.app {
  background: #fff;
  padding: 0px 20px 20px 20px;
  height: 100vh;
}

.todo-list {
  background: #eee;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
  max-width: 500px;
}

.todo {
  background: rgb(254, 254, 254);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 20px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2em;
  font-family: sans-serif;
  font-size: 20px;
}
